@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Background styling */
body {
  @apply bg-gradient-to-br from-indigo-700 via-purple-700 to-pink-500 text-white min-h-screen flex justify-center items-center font-[Poppins];
}
